{% extends "layout.html" %}

{% block content %}
  <h1>Insert an Image</h1>

  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" id="image" name="image" accept="image/*" multiple>
    <input type="submit" value="Submit">
  </form>

  <!-- <input type="checkbox">Color</input> -->
    
  {% if equations %}
    <textarea id="equations" class="equations">{{ equations | safe }}</textarea>
    <button onclick="copyToClipboard()" id="copy">Copy to Clipboard</button>
    <div>Number of Equations: {{ equation_count }}</div>
    <form action="/desmos" method="get">
      <button>View on Desmos</button>
    </form>
  {% endif %}


  <script type="application/javascript" src="static/script.js"></script>

{% endblock content %}